.card-container {
  border: 1px solid black;
   width: 22.5vw;
   // height: 700px;
   margin: 0 auto;
   margin-top: 56px;
   border-radius: 25px;
   box-sizing: border-box;
   box-shadow: -8px 9px 16px -3px gray;
   /*background: Should be Color-Specific/Dynamic. */
   background: #171314;
}


// .card-container {
//  border: 1px solid black;
//  width: 500px;
//  height: 700px;
//  margin: 0 auto;
//  margin-top: 56px;
//  border-radius: 25px;
//  box-sizing: border-box;
//  box-shadow: -8px 9px 16px -3px gray;
//  /*background: Should be Color-Specific/Dynamic. */
//  background: #171314;
// }

.card-background {
 height: 600px;
 margin: 20px 20px 0 20px;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 border-bottom-left-radius: 8%;
 border-bottom-right-radius: 8%;
 background-color: #bbb;
}

.card-frame {
 z-index: 1;
 position: relative;
 height: 108%;
 max-width: 97%;
 left: 1%;
 top: 0.5%;
 left: 1.2%;
 display: flex;
 flex-direction: column;
}

.frame-art {
 height: 50%; /* make it fit in the card */
 margin: 0 10px; /* align it vertically */
}


.frame-text-box {
 margin: 0 10px;
 background: #d3ded6;
 background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 50px 6px;
 box-sizing: border-box;
 font-size: 1.2em;
 position: relative;
}

/*
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
 BORDERS
 — — — — — — — — — — — — -
 — — — — — — — — — — — — -
*/
.frame-header, .frame-type-line {
 border-bottom: 4px solid #a9a9a9;
 border-left: 2px solid #a9a9a9;
 border-top: 1px solid #fff;
 border-right: 1px solid #fff;
}

.frame-header, .frame-art, .frame-type-line {
 box-shadow:
 0 0 0 2px #171314,
 0 0 0 5px #26714A,
 -3px 3px 2px 5px #171314;
margin-bottom: 7px;
}

.frame-text-box {
 box-shadow:
 0 0 0 5px #26714A,
 -3px 3px 2px 5px #171314;
}

.power-detail, .toughness-detail {
  position: absolute;
  font-size: 2.5rem;
  border-top: solid 2px black;
  padding: 4px;
  text-align: center;
  background: rgba(78, 89, 77, 0.4);
}

.power-detail {
  border-right: solid 2px black;
  border-top-right-radius: 15px;
  bottom: 0;
  left: 0;
}

.toughness-detail {
  border-left: solid 2px black;
  border-top-left-radius: 15px;
  bottom: 0;
  right: 0;
}

.frame-bottom-info {
 color: white;
 display: flex;
 justify-content: space-between;
 margin: 5px 15px 0 15px;
}

.fbi-center {
 border-radius: 60%;
 flex-basis: 41px;
 height: 21px;
 position: relative;
 bottom: 11px;
 z-index: 2;
 background: lightgray;
 background-image: url(../../../../assets/img/holo-foil.jpeg);
 box-shadow: 0 0 0 4px #171314;
}

/*
 — — — — — — — — — — —
 — — — — — — — — — — —
 OVERFLOW
 — — — — — — — — — — —
 — — — — — — — — — — —
*/

.frame-header, .frame-type-line, .frame-text-box {
 overflow: hidden;
}

/*
 — — — — — — — — — — —
 — — — — — — — — — — —
 Nameplates
 — — — — — — — — — — —
 — — — — — — — — — — —
*/

.frame-header, .frame-type-line {
 background:
 linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
 url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
 display: flex;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
 padding: 8px 0;
 display: flex;
 justify-content: space-between;
 border-radius: 18px/40px;
}

.frame-type-line {
 margin-top: 0;
}

/*
 — — — — — — — — — — —
 — — — — — — — — — — —
 Font
 — — — — — — — — — — —
 — — — — — — — — — — —
*/

.name, .type {
 margin-left: 10px;
 align-self: baseline;
 font-weight: 600;
}

.name {
   font-size: 1.3em;
}

.flavour-text {
 font-style: italic;
 padding: 10px 0;
}

p {
 margin-bottom: 5px;
}

.ftb-inner-margin {
 margin: 5px 1px;
}

.fbi-left {
 flex: 1;
}

.fbi-left p:first-of-type {
 margin-bottom: 1px;
}

.fbi-right {
 flex: 1;
 text-align: right;
}

.fbi-left, .fbi-right {
 font-size: 10px;
 position: relative;
 top: 6px;
}

/*
 — — — — — — — — — — —
 — — — — — — — — — — —
 Icons - Color Specific
 — — — — — — — — — — —
 — — — — — — — — — — —
*/

#mana-icon {
 font-size: 1.4em;
 background: #ADD3AC;
 border-radius: 50%;
 box-sizing: border-box;
 box-shadow: -0.05em 0.12em 0px 0 black;
 margin-right: 5px;
 height: 20px;
 align-self: center;
}

#set-icon {
 height: 9%;
 width: 6%;
 overflow: hidden;
 margin-right: 10px;
 align-self: center;
}
