
<div *ngIf="selectedCard" class="card-container">
  <div [ngClass]="['frame-type-line', testForColor(selectedCard)]">
    <div class="title-area">
    <h1 class="name">{{selectedCard.name}}</h1>
    <h2 class="type">{{selectedCard.type}}</h2>
  </div>

    <div class="rarity-text">
      <span>{{selectedCard.rarity }}</span>
    </div>
    <img src="https://image.ibb.co/kzaLjn/OGW_R.png" id="set-icon" alt="OGW-icon">

  </div>

  <div [ngClass]="['frame-text-box', testForColor(selectedCard)]">
    <p class="description ftb-inner-margin">{{selectedCard.text}}</p>
    <p class="flavour-text">{{selectedCard.flavor}}</p>
    <div class="mana-wrapper">
      <span class="mana-detail" *ngFor="let mana of translateMana(selectedCard)">{{mana}}</span>
    </div>
    <div class="power-detail">
      {{selectedCard.power}}
    </div>
    <div class="toughness-detail">
      {{selectedCard.toughness}}
    </div>
  </div>

  <div class="frame-bottom-info inner-margin">
    <div class="fbi-left">
      <p>{{selectedCard.number}}/278 </p>
      <p>GRN &#x2022; EN <!-- paintbrush symbol --> Wesley Burt</p>
    </div>

    <div class="fbi-center"></div>

    <div class="fbi-right">
      &trade; &amp; &reg; 2016 Wizards of the Coast
    </div>
  </div>

</div>
