.decks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  button {
    margin: 0.5rem;
    width: 1rem;
  }
  .left-column, .middle-column, .right-column {
    margin: 0 1.5rem;
  }
}

.middle-column {
  cursor: pointer;
  width: 14rem;
}

.deck-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.deck {
  border: 2px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.deck-view-card-cell {
  &:hover {
    color: purple;
    text-shadow: 1px 1px 0.5 lightgray;
    font-weight: bold;
  }
}
