<!-- <div class="title-area">
  <h1>Mana Curve</h1>
  <button mat-raised-button color="primary" type="button" routerLink=''>Home</button>
  <button mat-raised-button color="primary" type="button" routerLink='deck-builder'>Deck Builder</button>
</div>
<router-outlet></router-outlet> -->

<div class="page-wrapper">
  <header>
    <div class="container">
      <div class="logo-wrapper">
        <img class="logo" src="../assets/img/GRN-logo.png" alt="Guilds of Ravnica splash text.">
      </div>
      <button mat-raised-button style="background-color: #FFD740" type="button" routerLink=''>Home</button>
      <button mat-raised-button style="background-color: #FFD740" type="button" routerLink='deck-builder'>Deck Builder</button>
      <button mat-raised-button style="background-color: #FFD740" type="button" routerLink='deck-viewer'>Deck Viewer</button>
    </div>
  </header>
  <div class="marginTopper">
    <router-outlet></router-outlet>
    <div class="">

    </div>
  </div>
  <footer>
  </footer>
</div>
