<!-- <div class="title-area">
  <h1>Mana Curve</h1>
  <button mat-raised-button color="primary" type="button" routerLink=''>Home</button>
  <button mat-raised-button color="primary" type="button" routerLink='deck-builder'>Deck Builder</button>
</div>
<router-outlet></router-outlet> -->
<div class="page-wrapper">
  <header>
    <div class="container">
      <div class="logo-wrapper">
        <div class="element"></div>
      </div>
      <p style="position: absolute; left: 5%;">ManaCurveLogo</p>
      <button mat-raised-button color="primary" type="button" routerLink=''>Home</button>
      <button mat-raised-button color="primary" type="button" routerLink='deck-builder'>Deck Builder</button>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
    <div class="">

    </div>
  </div>
  <footer>
  </footer>
</div>
