header {
  width: 100%;
  height: 5.5em;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
}

footer {
  width: 100%;
  height: 2em;
  bottom: 0;
  position: absolute;
  background-color: royalblue;
}

.page-wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  position: absolute;
  left: 0;
  margin-left: 8px;
}

.logo {
  height: 7vh;
  background-size: cover;
  background-image: url(../assets/img/GRN-logo.png);
}

.mat-raised-button {
  border: 0;
  border-radius: 0;
  margin-right: 12px;
}

button {
  max-height: 50px;
  min-width: 200px;
  align-self: center;
}

app-deck-builder {
  height: 100%;
}
