header {
  width: 100%;
  height: 5.5em;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: purple;
}

footer {
  width: 100%;
  height: 2em;
  bottom: 0;
  position: absolute;
  background-color: royalblue;
}

.page-wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  position: absolute;
  left: 0;
  margin-left: 8px;
}

.element {
  margin-top: 8px;
  height: 65px;
  width: 65px;
  background-color: navy;
  border: 1px solid pink;
  border-radius: 45%;
}

.mat-raised-button {
  border: 0;
  border-radius: 0;
  margin-right: 12px;
}

button {
  max-height: 50px;
  min-width: 200px;
  align-self: center;
}

app-deck-builder {
  height: 100%;
}
