h1 {
  color: fuchsia;
  background: linear-gradient(to right, springgreen, skyblue)
}

img {
  display: block;
  z-index: -1;
  max-height: 100vh;
  max-width: 100%;
  min-height: 500px;
  min-width: 100%;
  background-size: contain;
  zoom: 1.5;
  overflow: hidden;
  background-position: center;
}
