@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

// @media screen and (max-width: 1126px) {
//   html{
//     overflow-y: scroll;
//   }
// }
