.deckBuildWrapper {
  // height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 42px auto 42px;
}


.card-view {
  height: 60vh;
  width: 550px;
  border: 1px solid black;
}

.card-style{
  width: 100%;
  height: 100px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 22px;
  padding-right: 22px;
  background:
  linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) );
}


.card-list {
  height: 100%;
  left: 0;
  border-left-style: none;
  .detail {
    width: 140px;
  }
  .power-tough {
    text-align: right;
  }
}

.deck-display {
  height: 60vh;
  min-width: 10em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-left-style: none;
}

.filters-list {
  width: 100%;
  max-width: 9em;
  height: 60vh;
  background-color: grey;
  border: 1px solid black;
  border-right-style: none;
  padding-left: 0.2em;
  padding-right: 0.25em;
  > div {
  padding-top: 0.5em;
  }
}

.filter-styles {
  width: 100%;
  text-align: right;
}

.deck-edit-actions {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid black;
  padding: 1em;
  button {
  display: block;
  margin: 1em auto auto;
  border-radius: 0;
  }
}

app-card-detail {
  margin-left: 1em;
}

.add-card-btn {
  margin-left: 4px;
}

@media screen and (max-width: 1126px) {
  .deckBuildWrapper {
      flex-wrap: wrap;
  }
  .deck-edit-actions {
    position: relative;
    transform: translate(0,0);
  }
}
