<div class="deckBuildWrapper">

  <div class="rarity-filters">
    <select (change)="updateRarity($event.target.value)">
      <option value="Common">Common</option>
      <option value="Uncommon">Uncommon</option>
      <option value="Rare">Rare</option>
      <option value="Mythic Rare">Mythic Rare</option>
    </select>
  </div>

  <div class="card-list">
    <cdk-virtual-scroll-viewport itemSize="50" class="card-view">
      <div *cdkVirtualFor="let card of cards | async | cardFilter:filterGroup" class="card-style" (click)="addCardToDeck(card)">
        <span class="detail">{{card.manaCost}}</span><span class="detail">{{card.name}}</span><span class="detail power-tough"><span *ngIf="card.toughness">{{card.power}} / {{card.toughness}}</span></span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="deck-display">
    <div class="deckCards" *ngFor="let deckCard of newDeck" (click)="removeCardFromDeck(deckCard)">
      <span>{{deckCard.name}}</span>
    </div>
  </div>
  <div class="deck-edit-actions">
    <label>Enter Deck Title: </label>
    <input #deckTitle type="text">
    <button mat-raised-button color="accent" type="button" (click)="sendDeck(deckTitle.value)">Add Deck!</button>
  </div>

</div>

<button mat-raised-button color="warn" type="button" value= "red" (click)="filterByColor()">Red</button>
