<div class="deckBuildWrapper">

  <div class="rarity-filters">
    <div class="rarity-option">
      <label name="Common">Common:</label>
      <input type="checkbox" name="Common" value="Common" (change)=changeRarity($event.target) checked>
    </div>
    <div class="rarity-option">
      <label name="Uncommon">Uncommon:</label>
      <input type="checkbox" name="Uncommon" value="Uncommon" (change)=changeRarity($event.target) checked>
    </div>
    <div class="rarity-option">
      <label name="Rare">Rare:</label>
      <input type="checkbox" name="Rare" value="Rare" (change)=changeRarity($event.target) checked>
    </div>
    <div class="rarity-option">
      <label name="Mythic Rare">Mythic Rare:</label>
      <input type="checkbox" name="Mythic Rare" value="Mythic Rare" (change)=changeRarity($event.target) checked>
    </div>
  </div>


  <div class="card-list">
    <cdk-virtual-scroll-viewport itemSize="50" class="card-view">
      <div *cdkVirtualFor="let card of cards | async | cardFilter:filterGroup" class="card-style" (click)="addCardToDeck(card)">
        <span class="detail">{{card.manaCost}}</span><span class="detail">{{card.name}}</span><span class="detail power-tough"><span *ngIf="card.toughness">{{card.power}} / {{card.toughness}}</span></span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="deck-display">
    <div class="deckCards" *ngFor="let deckCard of newDeck" (click)="removeCardFromDeck(deckCard)">
      <span>{{deckCard.name}}</span>
    </div>
  </div>
  <app-card-detail></app-card-detail>
</div>
<div class="deck-edit-actions">
  <label>Enter Deck Title: </label>
  <input #deckTitle type="text">
  <button mat-raised-button color="accent" type="button" (click)="sendDeck(deckTitle.value)">Add Deck!</button>
</div>
