.deckBuildWrapper {
  // height: 100%;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 42px auto 42px;
}

.card-view {
  height: 60vh;
  width: 500px;
  border: 1px solid black;
}

.card-style{
  height: 100px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 22px;
  padding-right: 22px
}


.card-list {
  height: 100%;
  left: 0;
  .detail {
    width: 140px;
  }
  .power-tough {
    text-align: right;
  }
}

.deck-display {
  height: 60vh;
  min-width: 10em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
}

.rarity-filters {
  width: 100%;
  text-align: right;
}

.deck-edit-actions {

  button {

  }
}

app-card-detail {
  margin-left: 1em;
}
